@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$primary-colour: #9356DC;
$secondary-colour: #FF79DA;
$tertiary-colour: #99E2D0;

/*general*/
*
{
    box-sizing: border-box;
}

body
{
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.heading
{
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
}

.card-heading
{
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.restaurant-heading
{
    font-family: 'Shrikhand', cursive;
    font-size: xx-large;
}

.btn
{
    background-image: linear-gradient(170deg, $secondary-colour, $primary-colour);
    padding: 20px 0;
    width: 250px;
    margin: auto;
    border-radius: 30px;
    &__link {
        text-decoration: none;
        color: white;
    }
}

/*header*/
.header 
{
    padding: 30px 0 15px 0;
    box-shadow: 3px 3px 3px black;
    &__img {
        width: 200px;
        margin: auto;
        display: block;
    }
}

.location
{
    padding: 20px;
    background-color: #eaeaea;
}

.loc-city
{
    display: flex;
    align-items: center;
    margin: auto;
    width: 150px;
    &__logo {
        margin-right: 10px;
    }
}

.explore
{
    background-color: #f6f6f6;
    text-align: center;
    padding: 40px 0;
    &__heading {
        margin-bottom: 20px;
    }
    &__p {
        margin-bottom: 30px;
    }
}

/*section working*/
.working 
{
    padding: 40px 0;
}

.working__heading
{
    margin: 0 0 30px 10px;
}

.working-cards
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.working-card
{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    background-color: #f6f6f6;
    width: 90%;
    margin: auto;
    &__number {
        padding: 10px;
        border-radius: 20px;
        background-color: $primary-colour;
        margin: 0 20px 0 -30px;
        color: white;
    }
    &__logo {
        margin-right: 20px;
    }
    &:hover
    {
        background-color: #f4edfe;
    }
}























/*cards*/
.card__image img
{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.card__image
{
    width: 100%;
    height: 60%;
    position: relative;
}

.card
{
    background: red;
}

.image__new
{
    background: mediumaquamarine;
    position: absolute;
    top: 10px;
    right: 10px;

}

