.footer
{
    background-color: #353535;
    padding: 30px;
    &__heading {
        color: white;
        font-family: 'Shrikhand', cursive;
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        &--logo1 {
            margin-right: 7px;
        }
        &--logo2 {
            font-size: 15px;
            margin-right: 4px;
        }
    }
    & a {
        color: white;
    }
}

.footer-position
{
    max-width: 1440px;
    margin: auto;
}