.heart-empty 
{
    cursor: pointer;
    font-size: x-large;
    &:hover {
        font-weight: bold;
        background-image: linear-gradient(170deg, $secondary-colour, $primary-colour);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: color 1s ease forwards;
    }
    &:active {
        font-weight: bold;
        background-image: linear-gradient(170deg, $secondary-colour, $primary-colour);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: color 1s ease forwards;
    }
}

@keyframes color {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}