/*pages menu*/
.menu 
{
    background-color: $background-soft;
    border-radius: 40px 40px 0 0;
    margin-top: -40px;
    padding-bottom: 30px;
    &__heading {
        display: flex;
         align-items: center;
        justify-content: space-between;
        padding: 40px 20px 20px 20px;
    }
    &__cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    &__headings {
        margin: 20px 20px 30px 20px;
        font-weight: 300;
    }
}

.banner
{
    object-fit: cover;
    width: 100%;
    height: 250px;
    position: relative;
    z-index: -1;
    @include desktop-only {
        height: 25vw;
        max-height: 400px;
    }
}

.menu-flex
{
    @include desktop-only {
        display: flex;
        flex-wrap: wrap;
        &__block {
            width: 50%;
        }
        &__dessert {
            margin: 20px auto 0 auto;
        }
    }
}

.menu-position
{
    max-width: 1440px;
    margin: auto;
}

.border-bottom
{
    border-bottom: 3px solid $tertiary-colour;
    padding-bottom: 5px;
}

.menu-card
{
    background-color: white;
    border-radius: 20px;
    width: 90%;
    display: flex;
    overflow: hidden;
    box-shadow: 3px 3px 8px #c7c7c7ff;;
    cursor: pointer;
    opacity: 0;
    animation: menuappearance 2s forwards, menuscale 2s forwards;
    &__content {
        padding: 10px 10px 10px 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &--heading {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-bottom: 10px;
            font-weight: 700;
        }
        &--p {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 300;
        }
    }
    &__price {
        margin-left: auto;
        margin-right: 20px;
        display: flex;
        align-items: flex-end;
        padding-bottom: 10px;
        font-weight: 500;
    }
    &__check {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiary-colour;
        border-radius: 0 20px 20px 0;
        padding: 20px;
        color: white;
        margin-right: -64px;
        transition: margin-right 1s;
        font-size: x-large;
    }
    &:hover .menu-card__check {
        margin-right: 0;
        transition: margin-right 1s;
        &--rotate {
            transition: transform 0.7s;
            transform: rotate(720deg); 
        }
    }
}

@keyframes menuappearance {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu-card:nth-child(1)
{
    animation-delay: 0.1s;
}

.menu-card:nth-child(2)
{
    animation-delay: 0.3s;
}

.menu-card:nth-child(3)
{
    animation-delay: 0.5s;
}

.menu-card:nth-child(4)
{
    animation-delay: 0.7s;
}

@keyframes menuscale {
    0% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}
